@charset "UTF-8";
/* Cores */
:root {
  --cor-1: #ffeddb;
  --cor-2: #ffe0c2;
  --cor-3: #f2ceab;
  --cor-4: #deb084;
  --cor-5: #c39264;
  --cor-6: #aa784a;
  --cor-7: #8e5f34;
  --cor-8: #744922;
  --cor-9: #573312;
  --cor-10: #412308;
  --cor-11: #301904;
  --cor-12: #200f00;
  --cor-p1: #ff7300;
  --cor-p2: #d66508;
  --cor-p3: #b85300;
  --cor-p4: #9b4c0b;
  --cor-p5: #813d05;
  --cor-g1: linear-gradient(#ff9a47 0%, #ff7300 100%);
  --cor-gi: #332200;
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-8 {
  color: var(--cor-8);
}

.cor-9 {
  color: var(--cor-9);
}

.cor-10 {
  color: var(--cor-10);
}

.cor-11 {
  color: var(--cor-11);
}

.cor-12 {
  color: var(--cor-12);
}

.cor-p1 {
  color: var(--cor-p1);
}

.cor-p2 {
  color: var(--cor-p2);
}

.cor-p3 {
  color: var(--cor-p3);
}

.cor-p4 {
  color: var(--cor-p4);
}

.cor-p5 {
  color: var(--cor-p5);
}

.cor-g1 {
  color: var(--cor-g1);
}

/* Classes Utilitárias */
.container {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.container-body {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1600px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.botao {
  padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 1.75rem);
  display: inline-block;
  background: var(--cor-g1);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: var(--cor-gi);
  font-size: clamp(0.8rem, 1.3vw, 1.3rem) !important;
  font-weight: 600;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transition: 0.3s;
}

.botao:hover {
  background: linear-gradient(180deg, #f79342 0%, #e46600 100%);
  transform: scale(1.05);
}

.link {
  display: inline-block;
  color: var(--cor-11);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.25rem;
  background-color: var(--cor-g1);
  transition: 0.3s;
}

.link::after:hover {
  width: 80%;
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
/* Tipografia */
.font-title-xl {
  font: 600 3rem/1.35 "Poppins", sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.font-title-m {
  font: 600 1.5rem/1.33 "Poppins", sans-serif;
  font-size: clamp(0.75rem, 1.3vw, 1.5rem);
  text-transform: uppercase;
}

.font-subtitle {
  font: 600 1.5rem/1.2 "Poppins", sans-serif;
  font-size: clamp(0.75rem, 1.3vw, 1.5rem);
}

.font-menu {
  font: 600 1.25rem/1.4 "Poppins", sans-serif;
  font-size: clamp(0.8rem, 1.2vw, 1.25rem);
}

.font-info {
  font: 400 1rem/1.25 "Poppins", sans-serif;
  font-size: clamp(0.62rem, 1vw, 1.25rem);
  text-transform: capitalize;
}

.font-text-l {
  font: 400 1.75rem/1.2 "Roboto", sans-serif;
  font-size: clamp(0.85rem, 1.5vw, 1.75rem);
}

.font-text-m {
  font: 400 1.25rem/1.2 "Roboto", sans-serif;
  font-size: clamp(0.9rem, 1vw, 1.25rem);
}

.font-text-sm {
  font: 400 1rem/1.25 "Roboto", sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

/* @media (max-width: 1200px) {
	.font-title-xl {
	font: 600 2rem/1.35 "Poppins", sans-serif;
}

.font-title-m {
	font: 600 1rem/1.33 "Poppins", sans-serif;
	text-transform: uppercase;
}
}

@media (max-width: 800px) {
	.font-1-xxl {
		font-size: 2rem;
	}
	.font-1-xl,
	.font-2-xl {
		font-size: 1.5rem;
	}
} *//*# sourceMappingURL=design.css.map */